window {
    margin: 0px;
    border: 2px solid #444;
    background-color: #1e1e2e; /* Dark Purple/Black */
    font-family: "monospace";
    font-size: 16px;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
}

#entry:selected {
    background-color: #89b4fa; /* Blue highlight */
    border-radius: 5px;
}

#text:selected {
    color: #1e1e2e;
}




image {
    margin-right: 15px; /* Increase this number to add more space */
}

/* Optional: Targets the text to give it some padding as well */
#text {
    margin-left: 5px;
}


image {
    margin-right: 15px;
    min-width: 24px;
    min-height: 24px;
}
